h1
{
    text-align: center;
    color: dodgerblue;
}

.center {
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.condition-display
{
    display: inline;
    text-align: center;
    font-size: xx-large;
    justify-content: center;
}

.Ideal
{
    background-color: greenyellow;
}

.Good
{
    background-color: lightgreen;
}

.Average
{
    background-color: gold;
}

.Neutral
{
    background-color: yellow;
}

.Worst
{
    background-color: coral;
}




